.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
}

.pokemon .number {
  color: #318874;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  color: #ffffffc5;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  border: none;
  background-color: #4240b3;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 0 .25rem;
  cursor: pointer;
}

/* Cores dos pokemons */
.normal {
  background-color: #a6a877;
}
.grass {
  background-color: #63c54b;
}
.fire {
  background-color: #db6e3c;
}
.water {
  background-color: #6e98fc;
}
.electric {
  background-color: #f8d030;
}
.ice {
  background-color: #98d8d8;
}
.ground {
  background-color: #e0c062;
}
.flying {
  background-color: #a890f9;
}
.poison {
  background-color: #a040a2;
}
.fighting {
  background-color: #a31b1b;
}
.psychic {
  background-color: #f85887;
}
.dark {
  background-color: #705848;
}
.rock {
  background-color: #b8a038;
}
.bug {
  background-color: #a8b820;
}
.ghost {
  background-color: #705898;
}
.steel {
  background-color: #b8b8d0;
}
.dragon {
  background-color: #7038f6;
}
.fairy {
  background-color: #ee99ac;
}
